
  <div class="row">


    <div class="col-md-12" >
      <div class="card">
        <div class="card-header">
          Obstacle Board
        </div>
        <div class="card-body">
          <div class="chart-wrapper" style="height : 75vh">
            <canvas baseChart
        [datasets]="ChartData"
        [options]="chartOptions"
        [legend]="ChartLegend"
        [chartType]="ChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        </div>
        </div>


  </div><!--/.row-->
