<div class="animated fadeIn">



  <div class="row ">

      <div class="col-md-4" >
          <div class="card">
            <div class="card-header">
              Orange Money : 100 % (13 / 13)
            </div>
            <div class="card-body">
              <div class="chart-wrapper" >
                  <canvas baseChart
                  [data]="pieChartData"
                  [labels]="pieChartLabels"
                  [colors]="pieChartColors"
                  [chartType]="pieChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
            </div>
            </div>
            <div class="col-md-4" >
                <div class="card">
                  <div class="card-header">
                    Care : 25 % (3 / 12)
                  </div>
                  <div class="card-body">
                    <div class="chart-wrapper" >
                        <canvas baseChart
                        [data]="pieChartData1"
                        [colors]="pieChartColors2"
                        [labels]="pieChartLabels"
                        [chartType]="pieChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
                    </div>
                  </div>
                  </div>
                  </div>
                  <div class="col-md-4" >
                      <div class="card">
                        <div class="card-header">
                         Portail : 50% (3 / 6)
                        </div>
                        <div class="card-body">
                          <div class="chart-wrapper" >
                              <canvas baseChart
                              [data]="pieChartData2"
                              [labels]="pieChartLabels"
                              [colors]="pieChartColors3"
                              [chartType]="pieChartType"
                              (chartHover)="chartHovered($event)"
                              (chartClick)="chartClicked($event)"></canvas>
                          </div>
                        </div>
                        </div>
                        </div>
  </div><!--/.row-->
  <div class="row " >

    <div class="col-md-4" >
        <div class="card">
          <div class="card-header">
            Eshop : 0% (0 / 9)
          </div>
          <div class="card-body">
            <div class="chart-wrapper" >
                <canvas baseChart
                [data]="pieChartData3"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
                [colors]="pieChartColors"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
            </div>
          </div>
          </div>
          </div>
          <div class="col-md-4" >
              <div class="card">
                <div class="card-header">
                  Digital Inside : 50% (1 / 2)
                </div>
                <div class="card-body">
                  <div class="chart-wrapper" >
                      <canvas baseChart
                      [data]="pieChartData4"
                      [labels]="pieChartLabels"
                      [chartType]="pieChartType"
                      [colors]="pieChartColors3"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
                  </div>
                </div>
                </div>
                </div>
                <div class="col-md-4" >
                    <div class="card">
                      <div class="card-header">
                        Business Monitoring : 100% (8 / 8)
                      </div>
                      <div class="card-body">
                        <div class="chart-wrapper" >
                            <canvas baseChart
                            [data]="pieChartData5"
                            [labels]="pieChartLabels"
                            [chartType]="pieChartType"
                            [colors]="pieChartColors"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                        </div>
                      </div>
                      </div>
                      </div>
</div><!--/.row-->
<div class="row " >

  <div class="col-md-4" >
      <div class="card">
        <div class="card-header">
          CEM : 0%
        </div>
        <div class="card-body">
          <div class="chart-wrapper" >
              <canvas baseChart
              [data]="pieChartData3"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              [colors]="pieChartColors"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        </div>
        </div>
</div><!--/.row-->
</div>
