<h1 align="center">BIENVENUE SUR QUICKVIZ</h1>
<br>
<p style="text-align: center; font-size:16px; font-weight: bold;" >
La transparence et le culte de la mesure sont des piliers fondamentaux en matière d'agilité et d'amélioration continue.<br>
</p>
<p>
Nous avons, par conséquent, souhaité avoir nos boards en ligne, disponibles en libre consultation de l'ensemble de nos parties prenantes.
</p>
<p style="text-align: justify;">
En 1ere itération, voici quelques boards :
<li>Le MoodBoard permet, de monitorer le plaisir et l'engagement qu'ont les équipes à travailler ensemble et surtout détecter les foyers d'obstacles ou d'insatisfaction à corriger.</li>
<li>Le Kudo Wall qui rends compte de la culture d'entraide et de solidarité dans le travail par la mesure des remerciements publiques.</li>
<li>L'Obstacle Board nous permet de remonter nos irritants, sans filtre, qui compromettent l'efficience du Pôle, un soutien actif est attendu de tous pour mitiger ces obstacles.</li>
<li>Le taux de staffing RH courant des feature teams Produits </li>
<li>Les 1ers indicateurs sur le canal Orange Money.</li>
<li>Les 1ers indicateurs sur le canal CARE.</li>
<li>Les 1ers indicateurs sur le canal Business Monitoring.</li>
<li>Les résultats de l'étude sur le churn par les datascientists</li>
</p>
<p style="text-align: justify;">
Au fil des itérations, QuickViz s'enrichira d'autres indicateurs : notamment le suivi des KPI stratégiques (taux d'interaction digital, CA digital, Customer Effort Score etc..), KPI business des autres produit etc. (PO board, Data Board, Transformation Board, PMO board), ces boards serviront de référentiel de pilotage de la transformation digitale.
<br><br>
A votre service !
</p>